.Project_Description {
  min-height: 100vh;
  /* max-width: 0 auto; */
  /* margin: 0 auto; */
  border-bottom: 2px solid var(--lighting-color);
}
.project_description {
  background-color: var(--project-colour);
  padding: 20px;
  border-top: 2px solid var(--lighting-color);
  border-bottom: 2px solid var(--lighting-color);
  /* max-height: 150vh; */
  min-height: 100vh;
  justify-content: center;
}
.project_description p {
  text-align: justify;
  margin-top: 20px;
  padding: 1rem;
}
.project_description h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  text-align: center;
}
